{%extends "posts/post_base.html"%}
{%load poll_extras%}
{%block prepost%}
<div class="col-md-4">
    {%if request.user.is_authenticated%}
    <div class="card card-with-shadow">
        <div class="container">
            <h5 class="title">Your groups</h5>
            <ul class="list-unstyled">
            {%get_your_group as your_group%}
            {% for member in your_group %}
                <li class="group li-with-bullet">
                    <a href="{%url 'groups:single' slug=member.group.slug%}">{{member.group}}</a>
                </li>
            {%endfor%}
            </ul>
        </div>
    </div>
    {%endif%}
    <div class="card card-with-shadow">
        <div class="container">
            <h5 class="title">All groups</h5>
            <ul class="list-unstyled">
               {%get_all_group as all_group%}
               {% for group in all_group %}
                <li class="group li-with-bullet">
                    <a href="{%url 'groups:single' slug=group.slug%}">{{group}}</a>
                </li>
                {%endfor%}
            </ul>
        </div>
    </div>
</div>
{%endblock%}
{%block post_content%}
<div class="col-md-8">
    {% for post in post_list %}
       {%include 'posts/_post.html'%}
    {%endfor%}
</div>
{%endblock%}
